NODE_ENV=development
SKIP_PREFLIGHT_CHECK=true

# URL service tetap jika tidak ada yang khusus untuk Indonesia
REACT_APP_VALHALLA_URL=https://maps-valhalla-development.pnm.co.id
REACT_APP_NOMINATIM_URL=https://maps-nominatim-development.pnm.co.id
REACT_APP_TILE_SERVER_URL="https://maps-tiles-development.pnm.co.id/tile/{z}/{x}/{y}.png"

# Koordinat pusat Indonesia (misalnya Jakarta)
REACT_APP_CENTER_COORDS="-6.200000,106.816666"

# Batas peta Indonesia: (sekitaran barat - timur & selatan - utara)
# Format: minLat,minLng,maxLat,maxLng
REACT_APP_MAX_BOUNDS="-11.0,95.0,6.5,141.0"
